body {
    font-family: Roboto,sans-serif;
}

header {
display: flex;
background-color: #1f2937;
align-items: center;
justify-content: space-around;

}
.header-logo {
    padding: 40px;
    display: flex;
    flex-grow: 2;
    flex: 1,1,auto;
    font-size: 24px;
    color: #f9faf8;

}
.link {
    display: flex;
    

}

.box1 {
    padding: 40px;
    display: flex;
    flex: 1, 1, auto;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

.Left {
    padding-right: 10px;
    
}

.Main-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    display: flex;

}

.Secondary-text{
    Font-size: 18px;
    font-weight: 900;
    color: #E5E7EB;
    display: flex;
    margin-bottom: 6px;
}

.signup-button {
    background-color: #3882f6;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bolder;
    color: rgb(255, 255, 255);

}

footer{
    display: flex;
    justify-content: center;
background-color:#1f2937;
flex-grow: 1, 1, auto;
}